* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
}

.container {
    display: flex;
    justify-content: center;
}

.example {
    display: flex;
    justify-content: space-around;

    width: 800px;
    margin: 50px 0;
    background-color: #D6E9FE;
}

.item img {
    display: block;
}

.item-relative {
    position: relative;
    top: -30px;
    left: -30px;
}

.item-absolute {
    position: absolute;
    top: 10px;
    left: 10px;
}

.absolute {
    position: relative;
}

.item-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}