* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    background-color: #DDE0E3;
}

em, strong {
    background-color: #B2D6FF;
    display: inline;
}

h1 {
    padding: 50px;
    border: 1px solid red;
    border-bottom: 1px solid #5D6063;
}

p {
    padding: 20px 0px 20px 10px;

    margin-top: 20px;
    margin-bottom: 50px;
}

strong {
    margin: 50px;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}

body {
    text-align: center;
}